section#equipo hr {
  margin-left: 0px !important; }

section#equipo .profile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    section#equipo .profile-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media (min-width: 767px) {
    section#equipo .profile-wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; } }

section#equipo .profile {
  width: 14em;
  height: auto; }
  @media (max-width: 767px) {
    section#equipo .profile {
      margin-bottom: 0.8em; } }
  @media (max-width: 767px) {
    section#equipo .profile {
      width: 50%; } }
  section#equipo .profile img.fotoperfil {
    margin-bottom: 0.5rem;
    width: 70%; }
  section#equipo .profile .name {
    font-size: 1.3rem;
    margin-bottom: 0.3em; }
  section#equipo .profile .title {
    margin-bottom: 0px; }
