body,
html {
  width: 100%;
  height: 100%; }
  @media (max-width: 480px) {
    body,
    html {
      font-size: 15px; } }
  @media (min-width: 481px) and (max-width: 767px) {
    body,
    html {
      font-size: 15px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body,
    html {
      font-size: 16px; } }
  @media (min-width: 992px) {
    body,
    html {
      font-size: 17px; } }

body {
  font-family: 'Helvetica Neue', Arial, sans-serif; }

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #3ba86d; }

hr.light {
  border-color: white; }

a {
  color: #3ba86d;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  a:focus, a:hover {
    color: #3ba86d; }

a.softlink {
  font-weight: bold;
  color: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px; }

.bg-primary {
  background-color: #3ba86d !important; }

.bg-gray1 {
  color: white;
  background-color: #443a3d !important; }
  .bg-gray1 a {
    color: white !important; }

.bg-gray2 {
  color: #443a3d;
  background-color: #f1f1f1 !important; }

.bg-white {
  background-color: #fff !important; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

section {
  padding: 50px 0;
  border-bottom: 1px #f1f1f1 solid; }

body.sub #main {
  padding-top: 80px;
  padding-bottom: 10px; }

body.sub #faq, body.sub #descrip {
  padding: 50px 0px;
  text-align: center; }
  body.sub #faq h4, body.sub #faq p, body.sub #descrip h4, body.sub #descrip p {
    font-size: 0.9em;
    text-align: left; }
  body.sub #faq h4, body.sub #descrip h4 {
    font-weight: bold; }

body.sub #contact {
  padding: 10px 0; }

body.sub header.main a {
  color: white !important; }

section.bg-gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5c04a42), to(#FFF)) !important;
    background-image-background-image: -webkit-linear-gradient(top, #f5c04a42 0, #FFF 100%) !important;
    background-image-background-image: -o-linear-gradient(top, #f5c04a42 0, #FFF 100%) !important;
    background-image-background-image: linear-gradient(to bottom, #f5c04a42 0, #FFF 100%) !important;
    background-image-background-image: linear-gradient(to bottom, #f5c04a42 0, #FFF 100%) !important;
      background-image-background-image-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5c04a42 ', endColorstr='#FFF', GradientType=0) !important; }

section.bg-gradient-gray {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#FFF)) !important;
    background-image-background-image: -webkit-linear-gradient(top, #eee 0, #FFF 100%) !important;
    background-image-background-image: -o-linear-gradient(top, #eee 0, #FFF 100%) !important;
    background-image-background-image: linear-gradient(to bottom, #eee 0, #FFF 100%) !important;
    background-image-background-image: linear-gradient(to bottom, #eee 0, #FFF 100%) !important;
      background-image-background-image-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee ', endColorstr='#FFF', GradientType=0) !important; }

section.bg-gradient-gray-left {
  background-image: -webkit-gradient(linear, left top, right top, from(#f1f1f1), to(#fafafa)) !important;
    background-image-background-image: -webkit-linear-gradient(left, #f1f1f1 0, #fafafa 100%) !important;
    background-image-background-image: -o-linear-gradient(left, #f1f1f1 0, #fafafa 100%) !important;
    background-image-background-image: linear-gradient(to right, #f1f1f1 0, #fafafa 100%) !important;
    background-image-background-image: linear-gradient(to right, #f1f1f1 0, #fafafa 100%) !important;
      background-image-background-image-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$theme-gray2 ', endColorstr='#fafafa', GradientType=0) !important; }

section.bg-gradient-gray-right {
  background-image: -webkit-gradient(linear, left top, right top, from(#fafafa), to(#f1f1f1)) !important;
    background-image-background-image: -webkit-linear-gradient(left, #fafafa 0, #f1f1f1 100%) !important;
    background-image-background-image: -o-linear-gradient(right, #fafafa 0, #f1f1f1 100%) !important;
    background-image-background-image: linear-gradient(to right, #fafafa 0, #f1f1f1 100%) !important;
    background-image-background-image: linear-gradient(to right, #fafafa 0, #f1f1f1 100%) !important;
      background-image-background-image-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa ', endColorstr='$theme-gray2', GradientType=0) !important; }

section.bg-gradient-red {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af2323), to(#d04040)) !important;
    background-image-background-image: -webkit-linear-gradient(top, #af2323 0, #FFF 100%) !important;
    background-image-background-image: -o-linear-gradient(top, #af2323 0, #d04040 100%) !important;
    background-image-background-image: linear-gradient(to bottom, #af2323 0, #d04040 100%) !important;
    background-image-background-image: linear-gradient(to bottom, #af2323 0, #d04040 100%) !important;
      background-image-background-image-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#af2323 ', endColorstr='#d04040', GradientType=0) !important; }
  section.bg-gradient-red a {
    color: white !important; }
  section.bg-gradient-red strong {
    color: white; }

section.bg-gradient-left {
  background-image: -webkit-gradient(linear, left top, right top, from(#f5c04a42), to(#FFF)) !important;
    background-image-background-image: -webkit-linear-gradient(left, #f5c04a42 0, #FFF 100%) !important;
    background-image-background-image: -o-linear-gradient(left, #f5c04a42 0, #FFF 100%) !important;
    background-image-background-image: linear-gradient(to right, #f5c04a42 0, #FFF 100%) !important;
    background-image-background-image: linear-gradient(to right, #f5c04a42 0, #FFF 100%) !important;
      background-image-background-image-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5c04a42 ', endColorstr='#FFF', GradientType=0) !important; }

section.bg-gradient-right {
  background-image: -webkit-gradient(linear, right top, left top, from(#f5c04a42), to(#FFF)) !important;
    background-image-background-image: -webkit-linear-gradient(right, #f5c04a42 0, #FFF 100%) !important;
    background-image-background-image: -o-linear-gradient(right, #f5c04a42 0, #FFF 100%) !important;
    background-image-background-image: linear-gradient(to left, #f5c04a42 0, #FFF 100%) !important;
    background-image-background-image: linear-gradient(to left, #f5c04a42 0, #FFF 100%) !important;
      background-image-background-image-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5c04a42 ', endColorstr='#FFF', GradientType=0) !important; }

section.darkbg {
  background-image: url(../img/darkbg.jpg);
  background-size: cover; }

section.bg-solid {
  background-color: #f5c04a42; }

section.bg-primary a {
  color: white !important; }

section.bg-primary strong {
  color: white; }

.section-heading {
  margin-top: 0; }

::-moz-selection {
  color: white;
  background: #695a5e;
  text-shadow: none; }

::selection {
  color: white;
  background: #695a5e;
  text-shadow: none; }

img::-moz-selection {
  color: white;
  background: transparent; }

img::selection {
  color: white;
  background: transparent; }

img::-moz-selection {
  color: white;
  background: transparent; }

body {
  -webkit-tap-highlight-color: #695a5e; }

/* temp, organizar luego en include*/
#contact .social {
  margin-top: 1em; }

#contact .row i.fa {
  margin-bottom: 0.15em; }

#contact .col-sm-3 {
  width: 93px; }

div.clasescta p {
  margin-bottom: 0.5em !important; }

div.clasescta h2 {
  font-size: 1.5em !important; }

/* Headings */
@media (max-width: 480px) {
  .row h2,
  .container h2 {
    font-size: 1.5rem; }
  .row h3,
  .container h3 {
    font-size: 1.2em; } }

@media (min-width: 481px) and (max-width: 767px) {
  .row h2,
  .container h2 {
    font-size: 1.5rem; }
  .row h3,
  .container h3 {
    font-size: 1.2em; } }

@media (min-width: 768px) and (max-width: 991px) {
  .row h2,
  .container h2 {
    font-size: 1.7rem; }
  .row h3,
  .container h3 {
    font-size: 1.2em; } }

@media (min-width: 992px) {
  .row h2,
  .container h2 {
    font-size: 2rem; }
  .row h3,
  .container h3 {
    font-size: 1.2em; } }

#mainNav {
  border-color: rgba(105, 90, 94, 0.05);
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  #mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #3ba86d;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #3ba86d; }
  #mainNav .navbar-img-brand {
    width: 250px;
    height: auto; }
  #mainNav .navbar-toggle {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #695a5e; }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus,
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #695a5e; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
      color: #3ba86d; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active,
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
      color: #3ba86d !important;
      background-color: transparent; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover,
      #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
        background-color: transparent; }
  @media (min-width: 992px) {
    #mainNav {
      border-color: rgba(255, 255, 255, 0.3);
      background-color: transparent; }
      #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
          color: white; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
          color: white; }
      #mainNav.navbar-shrink {
        border-color: rgba(105, 90, 94, 0.05);
        background-color: white; }
        #mainNav.navbar-shrink .navbar-brand {
          font-size: 16px;
          color: #3ba86d; }
          #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
            color: #3ba86d; }
        #mainNav.navbar-shrink .navbar-img-brand {
          width: 250px;
          height: auto; }
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
          color: #695a5e; }
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
            color: #3ba86d; } }

header.masthead {
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  background-image: url("../img/header.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  header.masthead .header-content {
    position: relative;
    width: 100%;
    padding: 150px 15px 100px;
    text-align: center; }
    header.masthead .header-content .header-content-inner h1 {
      font-size: 3rem !important;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 0; }
    header.masthead .header-content .header-content-inner h2 {
      font-size: 1.5rem; }
    header.masthead .header-content .header-content-inner hr {
      margin: 30px auto; }
    header.masthead .header-content .header-content-inner p {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 50px;
      color: rgba(255, 255, 255, 0.7); }
    header.masthead .header-content .header-content-inner .bg-text {
      background-color: rgba(0, 0, 0, 0.57);
      padding: 0 5px 0 5px; }
  @media (min-width: 768px) {
    header.masthead {
      height: 100%;
      min-height: 600px; }
      header.masthead .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        header.masthead .header-content .header-content-inner {
          max-width: 1000px;
          margin-right: auto;
          margin-left: auto; }
          header.masthead .header-content .header-content-inner h1 {
            font-size: 50px; }
          header.masthead .header-content .header-content-inner p {
            font-size: 18px;
            max-width: 80%;
            margin-right: auto;
            margin-left: auto; } }
  @media (max-width: 330px) {
    header.masthead .header-content .header-content-inner img {
      width: 250px; } }
  @media (min-width: 331px) and (max-width: 480px) {
    header.masthead .header-content .header-content-inner img {
      width: 280px; } }
  @media (min-width: 481px) and (max-width: 767px) {
    header.masthead .header-content .header-content-inner img {
      width: 320px !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    header.masthead .header-content .header-content-inner img {
      width: 400px; } }
  @media (min-width: 992px) {
    header.masthead .header-content .header-content-inner img {
      width: 500px; } }

@media (max-width: 767px) {
  header.masthead {
    min-height: 92vh; }
    header.masthead .header-content {
      margin-top: 50px;
      min-height: 80vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.call-to-action {
  padding: 50px 0; }
  .call-to-action h2 {
    margin: 0 auto 20px; }

.text-primary {
  color: #3ba86d !important; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.btn-default {
  color: #695a5e;
  border-color: white;
  background-color: white; }
  .btn-default.focus, .btn-default:focus {
    color: #695a5e;
    border-color: #bfbfbf;
    background-color: #e6e6e6; }
  .btn-default:hover {
    color: #695a5e;
    border-color: #e0e0e0;
    background-color: #e6e6e6; }
  .btn-default.active, .btn-default:active,
  .open > .btn-default.dropdown-toggle {
    color: #695a5e;
    border-color: #e0e0e0;
    background-color: #e6e6e6; }
    .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover,
    .open > .btn-default.dropdown-toggle.focus,
    .open > .btn-default.dropdown-toggle:focus,
    .open > .btn-default.dropdown-toggle:hover {
      color: #695a5e;
      border-color: #bfbfbf;
      background-color: #d4d4d4; }
  .btn-default.active, .btn-default:active,
  .open > .btn-default.dropdown-toggle {
    background-image: none; }
  .btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled].focus, .btn-default[disabled]:focus, .btn-default[disabled]:hover,
  fieldset[disabled] .btn-default.focus,
  fieldset[disabled] .btn-default:focus,
  fieldset[disabled] .btn-default:hover {
    border-color: white;
    background-color: white; }
  .btn-default .badge {
    color: white;
    background-color: #695a5e; }

.btn-primary {
  color: white;
  border-color: #3ba86d;
  background-color: #3ba86d; }
  .btn-primary.focus, .btn-primary:focus {
    color: white;
    border-color: #1a4a30;
    background-color: #2e8255; }
  .btn-primary:hover {
    color: white;
    border-color: #2b7b50;
    background-color: #2e8255; }
  .btn-primary.active, .btn-primary:active,
  .open > .btn-primary.dropdown-toggle {
    color: white;
    border-color: #2b7b50;
    background-color: #2e8255; }
    .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover,
    .open > .btn-primary.dropdown-toggle.focus,
    .open > .btn-primary.dropdown-toggle:focus,
    .open > .btn-primary.dropdown-toggle:hover {
      color: white;
      border-color: #1a4a30;
      background-color: #246843; }
  .btn-primary.active, .btn-primary:active,
  .open > .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary.focus,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary:hover {
    border-color: #3ba86d;
    background-color: #3ba86d; }
  .btn-primary .badge {
    color: #3ba86d;
    background-color: white; }

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

.btn-xl {
  padding: 15px 30px; }

body.error404 #main {
  padding-top: 20vh;
  padding-bottom: 13vh; }

body.error404 #links {
  padding: 50px 0px;
  text-align: center; }
  body.error404 #links h4, body.error404 #links p {
    font-size: 0.9em;
    text-align: left; }
  body.error404 #links h4 {
    font-weight: bold; }

body.error404 #contact {
  padding: 10px 0; }

section#contact {
  padding: 10px 0px; }

section.social div.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

section.social .socialwrapper {
  min-width: 6em;
  text-align: center; }
  section.social .socialwrapper a:hover {
    text-decoration: none; }
  @media (max-width: 391px) {
    section.social .socialwrapper {
      min-width: 4em; }
      section.social .socialwrapper p {
        display: none; } }
  @media (max-width: 266px) {
    section.social .socialwrapper {
      min-width: 4em;
      font-size: 0.8em; } }

footer {
  font-size: 0.8rem; }
  @media (max-width: 520px) {
    footer {
      font-size: 0.64rem; } }
  footer div.call-to-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  footer h2 {
    font-size: 2.3em !important;
    margin-bottom: 10px !important; }
  footer h3.phonenumber {
    font-size: 2em; }

section#equipo .profile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    section#equipo .profile-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media (min-width: 767px) {
    section#equipo .profile-wrapper {
      margin-top: 1em;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; } }

section#equipo .profile {
  width: 14em;
  height: auto; }
  @media (max-width: 767px) {
    section#equipo .profile {
      margin-bottom: 0.8em; } }
  @media (max-width: 767px) {
    section#equipo .profile {
      width: 50%; } }
  section#equipo .profile img.fotoperfil {
    margin-bottom: 0.5rem;
    width: 65%; }
  section#equipo .profile .name {
    font-size: 1.1rem;
    color: #3ba86d;
    margin-bottom: 0.3em; }
  section#equipo .profile .title {
    font-size: 0.9rem;
    margin-bottom: 0px; }
  section#equipo .profile .subtitle {
    font-size: 0.9rem; }

section#clientes hr {
  margin-left: 0px; }

section#clientes p {
  margin-bottom: 9px; }

section#clientes ul {
  border-left: 3px solid #3ba86d;
  list-style-type: none;
  padding: 10px 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#f1f1f1), to(#fafafa)) !important;
    background-image-background-image: -webkit-linear-gradient(left, #f1f1f1 0, #fafafa 100%) !important;
    background-image-background-image: -o-linear-gradient(left, #f1f1f1 0, #fafafa 100%) !important;
    background-image-background-image: linear-gradient(to right, #f1f1f1 0, #fafafa 100%) !important;
    background-image-background-image: linear-gradient(to right, #f1f1f1 0, #fafafa 100%) !important;
      background-image-background-image-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$theme-gray2 ', endColorstr='#fafafa', GradientType=0) !important; }

section#clientes .logo-wrapper {
  margin-top: 2em;
  width: 100%; }
  section#clientes .logo-wrapper img.logo {
    height: auto;
    margin-top: 0.5em; }
    @media (max-width: 370px) {
      section#clientes .logo-wrapper img.logo {
        width: 30vw; } }
    @media (min-width: 371px) and (max-width: 577px) {
      section#clientes .logo-wrapper img.logo {
        width: 29vw; } }
    @media (min-width: 578px) and (max-width: 767px) {
      section#clientes .logo-wrapper img.logo {
        width: 26vw; } }
    @media (min-width: 768px) {
      section#clientes .logo-wrapper img.logo {
        width: 16vw; } }

section#areas .cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    section#areas .cards-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media (min-width: 768px) {
    section#areas .cards-wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      -webkit-box-align: start !important;
      -ms-flex-align: start !important;
      align-items: flex-start !important; } }

section#areas .card {
  background-color: #fcfcfc;
  padding: 1em 1em;
  margin-bottom: 0px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15); }
  @media (max-width: 767px) {
    section#areas .card {
      margin: 0.2em auto 0.2em auto; } }
  @media (min-width: 768px) {
    section#areas .card {
      margin-left: 0.2em;
      margin-right: 0.2em; } }
  section#areas .card ul {
    margin-bottom: 0px;
    padding-left: 1em; }
  section#areas .card h3 {
    color: #3ba86d; }
