#videos .videoscontainer {
  margin: 1em 0px 1em 0px;
  background-position: center;
  background-size: cover;
  background-color: #eee;
  padding: 1em;
  border-radius: 0.5em;
  -webkit-box-shadow: 1px 1px 7px 0px #aeaeae;
  box-shadow: 1px 1px 7px 0px #aeaeae; }

#videos .newsa {
  background-image: url(../img/newsa.jpg); }

#videos .newsb {
  background-image: url(../img/newsb.jpg); }
