body {
  font-size: 16px;
  font-family: Open Sans Regular; }
  @media (max-width: 390px) {
    body {
      font-size: 12px; } }

h1 {
  font-size: 4.5rem; }
  @media (max-width: 390px) {
    h1 {
      font-size: 2.5rem; } }

h3 {
  padding-bottom: .2em; }

h4 {
  padding: 1em 0em; }

a {
  color: inherit;
  font-weight: bold; }

h1, h2, h3, h4 {
  text-align: center; }

.row .columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-width: 200px;
  -moz-column-width: 200px;
  column-width: 200px; }

.row .columns .p, .row .columns p {
  display: block !important;
  text-indent: 2em;
  margin-top: 0.5em; }

.row {
  padding: 30px 0px; }
  .row h2, .row h3, .row h4, .row h5, .row h6 {
    color: #413e57; }

.mainrow {
  background: url(../img/cover.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  height: calc(100vh - 4px); }
  .mainrow .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%; }
  .mainrow .text-wrapper {
    max-width: 35rem;
    text-align: center;
    background: #413e57;
    position: relative;
    border-radius: 0.3rem;
    padding: 1rem;
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.6); }
    .mainrow .text-wrapper h1 {
      font-size: 2.3em; }
    .mainrow .text-wrapper p {
      margin: 0px; }
    .mainrow .text-wrapper div.telefonos {
      margin-top: 0.8em; }

.generalrow {
  background: #FFF; }

.discographyrow {
  background: #f0f0f0; }
  .discographyrow .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .discographyrow .wrapper {
    max-width: 26em; }

.moreinforow {
  background: #413e57;
  color: white;
  height: 9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@font-face {
  font-family: Open Sans Bold;
  src: url("../fonts/opensans-bold.ttf"); }

@font-face {
  font-family: Open Sans Bold Italic;
  src: url("../fonts/opensans-bolditalic.ttf"); }

@font-face {
  font-family: Open Sans Regular;
  src: url("../fonts/opensans-regular.ttf"); }
