@font-face {
  font-family: Open Sans Bold;
  src: url("../opensans-bold.ttf"); }

@font-face {
  font-family: Open Sans Bold Italic;
  src: url("../opensans-bolditalic.ttf"); }

@font-face {
  font-family: Open Sans Bold Italic;
  src: url("../opensans-regular.ttf"); }
